<main>
    <div class="container">
        <section class="toolbar">
            <button mat-button color="accent" (click)="volver()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </section>
        <section class="datos">
            <section class="dato">
                <h1><strong>{{pokemon[0].name.toUpperCase()}}</strong></h1>
                <p>Orden: {{pokemon[0].order}}</p>
                <p>Id: {{pokemon[0].id}}</p>
            </section>
            <section class="imagen">
                <img src="{{pokemon[0].sprites.other.dream_world.front_default}}" alt="pokemon {{pokemon[0].name}} back">
            </section>
        </section>
        
    </div>
</main>
